@charset "UTF-8";
/*
********************colors*********************
*/
/******************primary*******************/
/******************neutral*******************/
/*
***********************************************
*/
:root {
  font-size: 62.5%;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #e0e8ff;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 2rem;
  color: #1f2f56;
  min-height: 100vh;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 30%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  max-width: 37.22rem;
  text-align: center;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: auto;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0.5rem 2rem -1.5rem #3829e0;
          box-shadow: 0 0.5rem 2rem -1.5rem #3829e0;
  margin: 0 5%;
  min-width: 20rem;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__title {
  font-size: 2.5rem;
  margin: 3rem 0 1.5rem 0;
  font-weight: 900;
}

.card__text {
  display: inline-block;
  width: 80%;
  line-height: 2.5rem;
  font-size: 1.6rem;
  color: #7280a7;
}

.card__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f5f7ff;
  height: 8rem;
  width: 85%;
  margin: 2rem auto;
  border-radius: 1.5rem;
  padding: 0 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__plan-text {
  font-weight: 700;
  font-size: 1.6rem;
}

.card__plan-text span {
  font-weight: 500;
  color: #7280a7;
}

.card__plan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 14.8rem;
}

.card__link {
  color: #3829e0;
  font-weight: 900;
  font-size: 1.6rem;
}

.card__link-item:hover {
  text-decoration: none;
  color: #756af1;
}

.card__button {
  display: inline-block;
  width: 85%;
  height: 5rem;
  background: #3829e0;
  border: none;
  border-radius: 1.5rem;
  color: #f5f7ff;
  font-weight: 900;
  -webkit-box-shadow: 0 1.5rem 2.5rem -0.8rem rgba(56, 41, 224, 0.4);
          box-shadow: 0 1.5rem 2.5rem -0.8rem rgba(56, 41, 224, 0.4);
  cursor: pointer;
  font-size: 1.4rem;
}

.card__button:hover {
  background: #756af1;
}

.card__cancel-link {
  display: inline-block;
  font-weight: 900;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 2.5rem auto;
  color: #7280a7;
}

.card__cancel-link:hover {
  color: #1f2f56;
}

/*
********************335px*********************
jest obsługiwany domyślnie
*/
/*
********************375px*********************
*/
@media only screen and (min-width: 33.6rem) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

/*
********************more than 375px*********************
*/
@media only screen and (min-width: 47.1rem) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }
  .card {
    min-width: 45rem;
    min-height: 70rem;
    margin: 0;
  }
  .card__title {
    margin: 4rem auto 2rem auto;
  }
  .card__text {
    line-height: 3rem;
    font-size: 1.8rem;
    width: 85%;
  }
  .card__plan {
    height: 10rem;
    margin: 3rem auto 3rem auto;
  }
  .card__plan-container {
    gap: 3rem;
  }
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: #3e52a3;
}

/******************************************/
/*           IE Hacks   no-RWD            */
/******************************************/
_:-ms-lang(x),
.ie10up, :root {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

_:-ms-lang(x),
.ie10up,
body {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: right;
      justify-content: right;
  -ms-flex-direction: column;
      flex-direction: column;
}
/*# sourceMappingURL=style.css.map */