/*
********************colors*********************
*/
/******************primary*******************/
/******************neutral*******************/
/*
***********************************************
*/
body {
  font-family: 'Red Hat Display', sans-serif;
  height: 100vh;
  font-size: 16px;
  background-color: #e0e8ff;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
  color: #1f2f56;
  min-height: 650px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  width: 335px;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  background-color: #fafafa;
  -webkit-box-shadow: 0 5px 20px -15px #3829e0;
          box-shadow: 0 5px 20px -15px #3829e0;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__title {
  font-size: 25px;
  margin: 30px 0 15px 0;
  font-weight: 900;
}

.card__text {
  display: inline-block;
  width: 80%;
  line-height: 25px;
  font-size: 16px;
  color: #7280a7;
}

.card__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f5f7ff;
  height: 80px;
  width: 85%;
  margin: 20px auto;
  border-radius: 15px;
}

.card__plan span {
  color: #7280a7;
}

.card__link {
  color: #3829e0;
}

.card__link-item:hover {
  text-decoration: none;
  color: #756af1;
}

.card__button {
  display: inline-block;
  width: 85%;
  height: 50px;
  background: #3829e0;
  border: none;
  border-radius: 15px;
  color: #f5f7ff;
  font-weight: bold;
  -webkit-box-shadow: 0 15px 25px -8px rgba(56, 41, 224, 0.4);
          box-shadow: 0 15px 25px -8px rgba(56, 41, 224, 0.4);
  cursor: pointer;
}

.card__button:hover {
  background: #756af1;
}

.card__cancel-link {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  margin: 20px auto;
  color: #7280a7;
}

.card__cancel-link:hover {
  color: #1f2f56;
}

/*
********************335px*********************
*/
@media only screen and (max-width: 335px) {
  body {
    background-image: url(../../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover 30%;
  }
}

/*
********************375px*********************
*/
@media only screen and (min-width: 336px) {
  body {
    background-image: url(../../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

/*
********************more than 375px*********************
*/
@media only screen and (min-width: 471px) {
  body {
    background-image: url(../../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }
  .card {
    min-width: 450px;
    height: 700px;
  }
  .card__title {
    margin: 40px auto 20px auto;
  }
  .card__text {
    line-height: 30px;
    font-size: 18px;
    width: 85%;
  }
  .card__plan {
    height: 100px;
    margin: 30px auto 30px auto;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */